/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//---------------------------------------------------
//  LESS Prefixer
//---------------------------------------------------
//
//  All of the CSS3 fun, none of the prefixes!
//
//  As a rule, you can use the CSS properties you
//  would expect just by adding a '.':
//
//  box-shadow => .box-shadow(@args)
//
//  Also, when shorthand is available, arguments are
//  not parameterized. Learn CSS, not LESS Prefixer.
//
//  -------------------------------------------------
//  TABLE OF CONTENTS
//  (*) denotes a syntax-sugar helper
//  -------------------------------------------------
//
//      .animation(@args)
//          .animation-delay(@delay)
//          .animation-direction(@direction)
//          .animation-duration(@duration)
//          .animation-fill-mode(@mode)
//          .animation-iteration-count(@count)
//          .animation-name(@name)
//          .animation-play-state(@state)
//          .animation-timing-function(@function)
//      .background-size(@args)
//      .border-radius(@args)
//      .box-shadow(@args)
//          .inner-shadow(@args) *
//      .box-sizing(@args)
//          .border-box() *
//          .content-box() *
//      .columns(@args)
//          .column-count(@count)
//          .column-gap(@gap)
//          .column-rule(@args)
//          .column-width(@width)
//      .gradient(@default,@start,@stop) *
//          .linear-gradient-top(@default,@color1,@stop1,@color2,@stop2,[@color3,@stop3,@color4,@stop4])*
//          .linear-gradient-left(@default,@color1,@stop1,@color2,@stop2,[@color3,@stop3,@color4,@stop4])*
//      .opacity(@factor)
//      .transform(@args)
//          .transform-origin(@args)
//          .transform-style(@style)
//          .rotate(@deg)
//          .scale(@factor)
//          .translate(@x,@y)
//          .translate3d(@x,@y,@z)
//          .translateHardware(@x,@y) *
//      .text-shadow(@args)
//      .transition(@args)
//          .transition-delay(@delay)
//          .transition-duration(@duration)
//          .transition-property(@property)
//          .transition-timing-function(@function)
//
//
//
//  Credit to LESS Elements for the motivation and
//  to CSS3Please.com for implementation.
//
//  Copyright (c) 2012 Joel Sutherland
//  MIT Licensed:
//  http://www.opensource.org/licenses/mit-license.php
//
//---------------------------------------------------


// Animation

.animation(@args) {
	-webkit-animation: @args;
	-moz-animation: @args;
	-ms-animation: @args;
	-o-animation: @args;
	animation: @args;
}
.animation-delay(@delay) {
	-webkit-animation-delay: @delay;
	-moz-animation-delay: @delay;
	-ms-animation-delay: @delay;
	-o-animation-delay: @delay;
	animation-delay: @delay;
}
.animation-direction(@direction) {
	-webkit-animation-direction: @direction;
	-moz-animation-direction: @direction;
	-ms-animation-direction: @direction;
	-o-animation-direction: @direction;
}
.animation-duration(@duration) {
	-webkit-animation-duration: @duration;
	-moz-animation-duration: @duration;
	-ms-animation-duration: @duration;
	-o-animation-duration: @duration;
}
.animation-fill-mode(@mode) {
	-webkit-animation-fill-mode: @mode;
	-moz-animation-fill-mode: @mode;
	-ms-animation-fill-mode: @mode;
	-o-animation-fill-mode: @mode;
	animation-fill-mode: @mode;
}
.animation-iteration-count(@count) {
	-webkit-animation-iteration-count: @count;
	-moz-animation-iteration-count: @count;
	-ms-animation-iteration-count: @count;
	-o-animation-iteration-count: @count;
	animation-iteration-count: @count;
}
.animation-name(@name) {
	-webkit-animation-name: @name;
	-moz-animation-name: @name;
	-ms-animation-name: @name;
	-o-animation-name: @name;
	animation-name: @name;
}
.animation-play-state(@state) {
	-webkit-animation-play-state: @state;
	-moz-animation-play-state: @state;
	-ms-animation-play-state: @state;
	-o-animation-play-state: @state;
	animation-play-state: @state;
}
.animation-timing-function(@function) {
	-webkit-animation-timing-function: @function;
	-moz-animation-timing-function: @function;
	-ms-animation-timing-function: @function;
	-o-animation-timing-function: @function;
	animation-timing-function: @function;
}


// Background Size

.background-size(@args) {
	-webkit-background-size: @args;
	background-size: @args;
}


// Border Radius

.border-radius(@args) {
	-webkit-border-radius: @args;
	border-radius: @args;

	background-clip: padding-box;
}


// Box Shadows

.box-shadow(@args) {
	-webkit-box-shadow: @args;
	box-shadow: @args;
}
.inner-shadow(@args) {
	.box-shadow(inset @args);
}


// Box Sizing

.box-sizing(@args) {
	-webkit-box-sizing: @args;
	-moz-box-sizing: @args;
	box-sizing: @args;
}
.border-box(){
	.box-sizing(border-box);
}
.content-box(){
	.box-sizing(content-box);
}


// Columns

.columns(@args) {
	-webkit-columns: @args;
	-moz-columns: @args;
	columns: @args;
}
.column-count(@count) {
	-webkit-column-count: @count;
	-moz-column-count: @count;
	column-count: @count;
}
.column-gap(@gap) {
	-webkit-column-gap: @gap;
	-moz-column-gap: @gap;
	column-gap: @gap;
}
.column-width(@width) {
	-webkit-column-width: @width;
	-moz-column-width: @width;
	column-width: @width;
}
.column-rule(@args) {
	-webkit-column-rule: @args;
	-moz-column-rule: @args;
	column-rule: @args;
}


// Gradients

.gradient(@default: #F5F5F5, @start: #EEE, @stop: #FFF) {
	.linear-gradient-top(@default,@start,0%,@stop,100%);
}
.linear-gradient-top(@default,@color1,@stop1,@color2,@stop2) {
	background-color: @default;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2 @color2));
	background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2);
}
.linear-gradient-top(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3) {
	background-color: @default;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3));
	background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3);
}
.linear-gradient-top(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3,@color4,@stop4) {
	background-color: @default;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3), color-stop(@stop4 @color4));
	background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: linear-gradient(top, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
}
.linear-gradient-left(@default,@color1,@stop1,@color2,@stop2) {
	background-color: @default;
	background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2 @color2));
	background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2);
	background-image: -moz-linear-gradient(left, @color1 @stop1, @color2 @stop2);
	background-image: -ms-linear-gradient(left, @color1 @stop1, @color2 @stop2);
	background-image: -o-linear-gradient(left, @color1 @stop1, @color2 @stop2);
	background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2);
}
.linear-gradient-left(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3) {
	background-color: @default;
	background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3));
	background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: -moz-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: -ms-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: -o-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
	background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3);
}
.linear-gradient-left(@default,@color1,@stop1,@color2,@stop2,@color3,@stop3,@color4,@stop4) {
	background-color: @default;
	background-image: -webkit-gradient(linear, left top, left top, color-stop(@stop1, @color1), color-stop(@stop2 @color2), color-stop(@stop3 @color3), color-stop(@stop4 @color4));
	background-image: -webkit-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: -moz-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: -ms-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: -o-linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
	background-image: linear-gradient(left, @color1 @stop1, @color2 @stop2, @color3 @stop3, @color4 @stop4);
}


// Opacity

.opacity(@factor) {
	@iefactor: @factor*100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{iefactor})";
	filter: ~"alpha(opacity=(@{iefactor}))";
	opacity: @factor;
}


// Text Shadow

.text-shadow(@args) {
	text-shadow: @args;
}


// Transforms

.transform(@args) {
	-webkit-transform: @args;
	-moz-transform: @args;
	-ms-transform: @args; 
	-o-transform: @args;
	transform: @args;
}
.transform-origin(@args) {
	-webkit-transform-origin: @args;
	-moz-transform-origin: @args;
	-ms-transform-origin: @args; 
	-o-transform-origin: @args;
	transform-origin: @args;
}
.transform-style(@style) {
	-webkit-transform-style: @style;
	-moz-transform-style: @style;
	-ms-transform-style: @style; 
	-o-transform-style: @style;
	transform-style: @style;
}
.rotate(@deg:45deg){
	.transform(rotate(@deg));
}
.scale(@factor:.5){
	.transform(scale(@factor));
}
.translate(@x,@y){
	.transform(translate(@x,@y));
}
.translate3d(@x,@y,@z) {
	.transform(translate3d(@x,@y,@z));
}
.translateHardware(@x,@y) {
	.translate(@x,@y);
	-webkit-transform: translate3d(@x,@y,0);
	-moz-transform: translate3d(@x,@y,0);
	-o-transform: translate3d(@x,@y,0);
	-ms-transform: translate3d(@x,@y,0);
	transform: translate3d(@x,@y,0);
}


// Transitions

.transition(@args:200ms) {
	-webkit-transition: @args;
	-moz-transition: @args;
	-o-transition: @args;
	-ms-transition: @args;
	transition: @args;
}
.transition-delay(@delay:0) {
	-webkit-transition-delay: @delay;
	-moz-transition-delay: @delay;
	-o-transition-delay: @delay;
	-ms-transition-delay: @delay;
	transition-delay: @delay;
}
.transition-duration(@duration:200ms) {
	-webkit-transition-duration: @duration;
	-moz-transition-duration: @duration;
	-o-transition-duration: @duration;
	-ms-transition-duration: @duration;
	transition-duration: @duration;
}
.transition-property(@property:all) {
	-webkit-transition-property: @property;
	-moz-transition-property: @property;
	-o-transition-property: @property;
	-ms-transition-property: @property;
	transition-property: @property;
}
.transition-timing-function(@function:ease) {
	-webkit-transition-timing-function: @function;
	-moz-transition-timing-function: @function;
	-o-transition-timing-function: @function;
	-ms-transition-timing-function: @function;
	transition-timing-function: @function;
}

@bodybgcolor: #FFFFFF;
@bgcolor1: #e5e5ea;
@fgcolor1: #000000;
@bgcolor2: #158dfe;
@fgcolor2: #FFFFFF;


html, body{
	height: 100%;
}
#assets{
	display: none;
}
#scroller{
	height: 1000px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
#bubbles{
	margin-top: 100vh;
	position: relative;
	z-index: 1;
	.bubble{
		font-family: Helvetica, Arial, 'sans serif';
		font-size: 14px;
		position: relative;
		margin: 0;
		border-radius: 17px;
		display: inline-block;
		padding: 8px 11px;
		z-index: 3;
		max-width: 200px;
		clear: both;
		opacity: 0;
		transition: opacity .5s, top .5s, -webkit-transform .5s;
		&:before{
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			width: 20px;
			height: 20px;
			display: block;
		}
		&:after{
			content: "";
			position: absolute;
			z-index: 2;
			bottom: 0px;
			width: 10px;
			height: 20px;
			background: @bodybgcolor;
			display: block;
		}
		&.client{
			margin-left: 16px;
			background: @bgcolor1;
			color: @fgcolor1;
			position: absolute;
			left: 0;
			&:before{
				left: -10px;
				border-bottom-right-radius: 96px 50px;
				background: @bgcolor1;
			}
			&:after{
				left: -10px;
				border-bottom-right-radius: 15px 15px;
			}
		}
		&.designer{
			margin-right: 16px;
			background: @bgcolor2;
			color: @fgcolor2;
			position: absolute;
			right: 0;
			&:before{
				right: -10px;
				border-bottom-left-radius: 96px 50px;
				background: @bgcolor2;
			}
			&:after{
				right: -10px;
				border-bottom-left-radius: 15px 15px;
			}
		}
		&.active{
			opacity: 1;
		}
	}
}

#animations{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	.ani{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		&.active{
			display: block;
		}
	}
}


/*

font-family: 'Overlock SC', cursive;
font-family: 'Astloch', cursive;
font-family: 'Nova Round', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Nova Oval', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Voces', cursive;
font-family: 'Overlock', cursive;
font-family: 'Galindo', cursive;
font-family: 'Unkempt', cursive;
font-family: 'Trade Winds', cursive;
font-family: 'Codystar', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Oldenburg', cursive;
font-family: 'Eater', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Erica One', cursive;
font-family: 'Maiden Orange', cursive;
font-family: 'Sail', cursive;
font-family: 'Poller One', cursive;
font-family: 'Lily Script One', cursive;
font-family: 'Yeseva One', cursive;
font-family: 'Londrina Sketch', cursive;
font-family: 'Kelly Slab', cursive;
font-family: 'Revalia', cursive;
font-family: 'Jolly Lodger', cursive;
font-family: 'Ruslan Display', cursive;
font-family: 'Flamenco', cursive;
font-family: 'Concert One', cursive;
font-family: 'Snowburst One', cursive;
font-family: 'Emblema One', cursive;
font-family: 'Contrail One', cursive;
font-family: 'Supermercado One', cursive;
font-family: 'Limelight', cursive;
font-family: 'Elsie Swash Caps', cursive;
font-family: 'Lobster', cursive;
font-family: 'Atomic Age', cursive;
font-family: 'Sniglet', cursive;
font-family: 'Paprika', cursive;
font-family: 'Smythe', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Frijole', cursive;
font-family: 'Unlock', cursive;
font-family: 'UnifrakturCook', cursive;
font-family: 'Goblin One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Squada One', cursive;
font-family: 'Patua One', cursive;
font-family: 'Chewy', cursive;
font-family: 'Lemon', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Righteous', cursive;
font-family: 'Bevan', cursive;
font-family: 'Passion One', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Share', cursive;
font-family: 'Nova Square', cursive;
font-family: 'Sancreek', cursive;
font-family: 'Slackey', cursive;
font-family: 'Kranky', cursive;
font-family: 'Allan', cursive;
font-family: 'Carter One', cursive;
font-family: 'Salsa', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Expletus Sans', cursive;
font-family: 'Chelsea Market', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Oregano', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Bowlby One', cursive;
font-family: 'Ceviche One', cursive;
font-family: 'Mystery Quest', cursive;
font-family: 'Medula One', cursive;
font-family: 'Kenia', cursive;
font-family: 'Chango', cursive;
font-family: 'Amarante', cursive;
font-family: 'Seaweed Script', cursive;
font-family: 'Creepster', cursive;
font-family: 'Lancelot', cursive;
font-family: 'Milonga', cursive;
font-family: 'Titan One', cursive;
font-family: 'Iceberg', cursive;
font-family: 'Raleway Dots', cursive;
font-family: 'Aubrey', cursive;
font-family: 'Miltonian', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Averia Libre', cursive;
font-family: 'Wellfleet', cursive;
font-family: 'Joti One', cursive;
font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Germania One', cursive;
font-family: 'Diplomata', cursive;
font-family: 'Averia Gruesa Libre', cursive;
font-family: 'Plaster', cursive;

*/

#logo{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: table;
	text-align: center;
	> span{
		display: table-cell;
		vertical-align: middle;
		color: #000;
		font-size: 120px;
		line-height: 125px;
		letter-spacing: -2px;
		> span{
			display: inline-block;
			text-align: left;
		}
		b{
			font-weight: normal;
			background-color: #000;
			color: #FFF;
		}
		u{
			text-decoration: none;
			border-bottom: 4px solid #000;
		}
	}
	&.f-light{
		font-family: 'f-light';
	}
	&.f-italic{
		font-family: 'f-italic';
	}
}

#logo{
	> span{
		&.Init{
			span{
				width: 405px;
			}
		}
		&.RemoveUnderline{
			span{
				width: 405px;
			}
		}
		&.FontChange1{
			span{
				width: 405px;
			}
			&.swap{
				font-family: 'Nixie One', cursive;
				span{ width: 456px; }
			}
		}
	}
}


@font-face {
	font-family: 'f-light';
	src: url('fonts/light.eot');
	src: url('fonts/light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/light.woff') format('woff'),
		 url('fonts/light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'f-italic';
	src: url('fonts/italic.eot');
	src: url('fonts/italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/italic.woff') format('woff'),
		 url('fonts/italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
